---
import { Image, Picture } from "@astrojs/image/components";
import Authorcard from "@components/authorcard.astro";
import Container from "@components/container.astro";
import Label from "@components/ui/label.astro";
import { authors } from "@data/authors";
import { categories } from "@data/category";
import Layout from "@layouts/Layout.astro";
import { getFormattedDate } from "@utils/all";
import { CollectionEntry, getCollection } from "astro:content";

import type { Author } from "@data/authors";
import type { Category } from "@data/category";

type Props = CollectionEntry<"blog">;

export async function getStaticPaths() {
  const blog = await getCollection("blog");

  return blog.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const currentUrl = "https://www.informateconeve.com.ar/blog/" + post.slug;
const { Content, remarkPluginFrontmatter } = await post.render();

const author = authors.find((item) => item.slug === post.data.author) as Author;
const category = categories.find(
  (item) => item.slug === post.data.category
) as Category;
---

<Layout
  title={post.data.title}
  desc={post.data.excerpt}
  ogimage={post.data.image}>
  <Container>
    <div class="max-w-screen-md mx-auto">
      <div class="text-center">
        <Label theme={category.color}>{category.title}</Label>
      </div>

      <h1
        class="mt-2 mb-3 text-3xl font-semibold tracking-tight text-center lg:leading-snug text-brand-primary lg:text-4xl dark:text-white">
        {post.data.title}
      </h1>

      <div class="flex justify-center mt-3 space-x-3 text-gray-500">
        <div class="flex items-center gap-3">
          <div class="relative flex-shrink-0 w-10 h-10">
            {
              author.image && (
                <Image
                  src={author.image}
                  alt="Author Photo"
                  width={80}
                  height={80}
                  loading="eager"
                  class="rounded-full"
                />
              )
            }
          </div>

          <div>
            <p class="text-gray-800 dark:text-gray-200">
              {author.name}
            </p>
            <div class="flex items-center space-x-2 text-sm">
              <time
                class="text-gray-500 dark:text-gray-200"
                datetime={post.data.publishDate}>
                {getFormattedDate(post.data.publishDate)}
              </time>
              <span class="text-pink-900">
                · {Math.round(remarkPluginFrontmatter?.estReadingTime) || "5"} min
                lectura
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Container>

  <div
    class="relative z-0 max-w-screen-lg mx-auto overflow-hidden lg:rounded-lg aspect-video">
    {
      post.data.image && (
        <Picture
          src={post.data.image}
          widths={[200, 400, 800]}
          sizes="(max-width: 640px) 90vw, 480px"
          aspectRatio="16:9"
          width={1024}
          heignt={576}
          alt="Thumbnail"
          loading="eager"
          class="w-full"
        />
      )
    }
  </div>

  <Container>
    <article class="max-w-screen-md mx-auto">
      <div
        class="mx-auto my-3 prose prose-base dark:prose-invert prose-a:text-blue-600">
        <Content />

        <div class="flex flex-wrap items-center w-full gap-3 md:w-auto">
          {
            post.data.tags.map((tag) => (
              <span class="text-sm text-pink-900">#{tag}</span>
            ))
          }
        </div>
      </div>
      <div class="flex justify-center mt-7 mb-7 grid-rows-5 gap-4">
        <div>
          <a
            id="btn-facebook-share-article"
            class="rounded-full dark:text-pink-500 bg-pink-50 hover:bg-pink-200 p-3"
            href=`https://www.facebook.com/sharer/sharer.php?u=${currentUrl}`
            target="_blank"
            title="Facebook"
            type="button">
            <svg
              class="w-6 h-6 stroke-pink-900 stroke-0 fill-pink-900"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
              ><path
                d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                fill="pink-900"></path></svg
            >
          </a>
        </div>
        <div>
          <a
            id="btn-twitter-share-article"
            class="rounded-full dark:text-pink-500 bg-pink-50 hover:bg-pink-200 p-3"
            target="_blank"
            href=`https://twitter.com/intent/tweet?text=${post.data.title}&url=${currentUrl}`
            title="Twitter"
            type="button">
            <svg
              role="img"
              class="w-6 h-6 stroke-pink-900 stroke-0 fill-pink-900"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
              ></path></svg
            >
          </a>
        </div>
        <div>
          <a
            id="btn-whatsapp-share-article"
            class="rounded-full dark:text-pink-500 bg-pink-50 hover:bg-pink-200 p-3"
            href={`https://api.whatsapp.com/send/?text=${encodeURIComponent(
              `${post.data.title} - ${currentUrl}`
            )}&type=custom_url&app_absent=0`}
            target="_blank"
            title="WhatsApp"
            type="button">
            <svg
              role="img"
              class="w-6 h-6 stroke-pink-900 stroke-0 fill-pink-900"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z"
              ></path></svg
            >
          </a>
        </div>

        <div>
          <a
            id="btn-telegram-share-article"
            class="rounded-full dark:text-pink-500 bg-pink-50 hover:bg-pink-200 p-3"
            href=`https://telegram.me/share/url?url=${currentUrl}&text=${post.data.title}`
            target="_blank"
            title="Telegram"
            type="button">
            <svg
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 stroke-pink-900 stroke-0 fill-pink-900"
              viewBox="0 0 32 32"
              ><path
                d="M29.919 6.163l-4.225 19.925c-0.319 1.406-1.15 1.756-2.331 1.094l-6.438-4.744-3.106 2.988c-0.344 0.344-0.631 0.631-1.294 0.631l0.463-6.556 11.931-10.781c0.519-0.462-0.113-0.719-0.806-0.256l-14.75 9.288-6.35-1.988c-1.381-0.431-1.406-1.381 0.288-2.044l24.837-9.569c1.15-0.431 2.156 0.256 1.781 2.013z"
              ></path></svg
            >
          </a>
        </div>
      </div>
      <div class="flex justify-center mt-7 mb-7">
        <a
          href="/"
          class="px-5 py-3 text-sm text-pink-600 transition rounded-lg dark:text-pink-500 bg-pink-50 hover:bg-pink-200">
          ← Ver todos los posts
        </a>
      </div>

      {author && <Authorcard author={author} />}
    </article>
  </Container>
</Layout>
