---
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar.astro";
import "@fontsource/inter/variable.css";
import { checkImageUrl } from "@utils/all";
import { SEO } from "astro-seo";

export interface Props {
  title?: string;
  desc?: string;
  ogimage?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, desc, ogimage = "/opengraph.jpg" } = Astro.props;

const resolvedOGImage = checkImageUrl(ogimage, Astro.site);

const makeTitle = title
  ? title + " | " + "Informate con Eve"
  : "Informate con Eve";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T29BSSLM');</script>
  <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta property="twitter:image" content={resolvedOGImage}>
    <meta property="twitter:title" content={makeTitle}>
    <meta property="twitter:description" content={desc ||
      "Informate con Eve es un blog de noticias sobre tecnología, ciencia, cultura y más."}>
    <meta property="og:description" content={desc ||
      "Informate con Eve es un blog de noticias sobre tecnología, ciencia, cultura y más."}/>
    <SEO
      title={makeTitle}
      description={desc ||
        "Informate con Eve es un blog de noticias sobre tecnología, ciencia, cultura y más."}
      canonical={canonicalURL}
      twitter={{
        creator: "@evelynquinterxs",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Informate con Eve`,
          image: resolvedOGImage,
        },
        image: {
          alt: "Informate con Eve",
        },
      }}
    />
  </head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KEX7JB9ZRS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KEX7JB9ZRS');
</script>
  <body class="bg-pink-100 dark:bg-pink-950">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T29BSSLM"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
      ::-webkit-scrollbar-thumb {
        background: rgb(131, 53, 72);
      }
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(71, 29, 39);
      }
      ::-webkit-scrollbar-track {
        background: rgba(90, 50, 93, 0.7);
      }
      ::-webkit-scrollbar {
        width: 0.4rem;
        height: 100%;
      } 
    </style>
  </body>
</html>
