---
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar.astro";
import "@fontsource/inter/variable.css";
import { checkImageUrl } from "@utils/all";
import { SEO } from "astro-seo";

export interface Props {
  title?: string;
  desc?: string;
  ogimage?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, desc, ogimage = "/opengraph.jpg" } = Astro.props;

const resolvedOGImage = checkImageUrl(ogimage, Astro.site);

const makeTitle = title
  ? title + " | " + "Informate con Eve"
  : "Informate con Eve";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="apple-touch-icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta property="twitter:image" content={resolvedOGImage} />
    <meta property="twitter:title" content={makeTitle} />
    <link rel="manifest" href="/manifest.json" />
    <meta
      property="twitter:description"
      content={desc ||
        "Informate con Eve es un blog de noticias sobre tecnología, ciencia, cultura y más."}
    />
    <meta
      property="og:description"
      content={desc ||
        "Informate con Eve es un blog de noticias sobre tecnología, ciencia, cultura y más."}
    />
    <SEO
      title={makeTitle}
      description={desc ||
        "Informate con Eve es un blog de noticias sobre tecnología, ciencia, cultura y más."}
      canonical={canonicalURL}
      twitter={{
        creator: "@evelynquinterxs",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Informate con Eve`,
          image: resolvedOGImage,
        },
        image: {
          alt: "Informate con Eve",
        },
      }}
    />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KEX7JB9ZRS"
    ></script><script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-KEX7JB9ZRS");
    </script></head
  >
  <!-- Google tag (gtag.js) -->
  <script>
    if (typeof navigator.serviceWorker !== "undefined") {
      navigator.serviceWorker.register("sw.js");
    }
  </script>
  <body class="bg-pink-100 dark:bg-pink-950">
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
      ::-webkit-scrollbar-thumb {
        background: rgb(131, 53, 72);
      }
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(71, 29, 39);
      }
      ::-webkit-scrollbar-track {
        background: rgba(90, 50, 93, 0.7);
      }
      ::-webkit-scrollbar {
        width: 0.4rem;
        height: 100%;
      }
      svg {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      img {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      img[alt^="Imagen:"] {
        border-radius: 0.5rem;
        border-width: 0.1rem;
        border-style: solid;

        border-color: rgb(71, 29, 39);
        box-shadow: 0 0 0.5rem 0.1rem rgb(71, 29, 39);
        transition: 0.2s;
      }
      img[alt^="Imagen:"]:hover {
        border-radius: 0.5rem;
        border-width: 0.1rem;
        border-style: solid;
        border-color: rgb(131, 53, 72);
        box-shadow: 0 0 0.5rem 0.1rem rgb(131, 53, 72);
        transition: 0.2s;
        scale: 1.05;
      }
    </style>
  </body>
</html>
